// .container {
//     margin: $layout-margin;
//     padding: $grid-gutter $grid-gutter 0 $grid-gutter;
//     // @include border($colour-accent);
// }
main{
    padding: 10vh ;
    height: 100%;
    background-image: url(../img/Lambris-01.jpg);
    background-size: auto;
}
.box{
    padding: 10vh;
    padding-bottom: 10vh;
    background-color: rgba(128, 128, 128, 0.8);
    min-height: 100%;
    height: auto;
}
@media (max-width:490px){
main{
    position: absolute;
    padding: 5vh ;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-image: url(../img/Lambris-01.jpg);
    background-size: auto;
}
.box{
    position: relative;
    padding: 5vh;
    padding-bottom: 5vh;
    background-color: rgba(128, 128, 128, 0.8);
    min-height: 100%;
    height: auto;
}
}